<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.game_sphere_bd">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application 
          android:label="game_sphere_bd"
        android:icon="@mipmap/ic_launcher">
    </application>
        
</manifest>
